<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/register.css">
  <title>Document</title>
</head>

<body>
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>Welcome To SAM</h1>

        <p>Register now and feel the future of student monitoring</p>

      </div>
    </div>


    <div class="right">
      <h5>Register</h5>

      <p>Already have an account <a href="./login">Login </a></p>
      <form action="" method="POST" enctype="multipart/form-data">
        <div class="inputs">
          <input type="text" placeholder="user name" name="username">
          <br>
          <input type="text" placeholder="email" name="email">
          <br>
          <input type="password" placeholder="password" name="password">
          <input type="submit" value="Submit" />
        </div>
      </form>
      <br><br>



      <br>
      <!--<button><a href="./index" style="color: azure;">Register</a></button>-->

    </div>

  </div>
</body>

</html>